/* Page title with back button*/
header {
    background-color: black;
    color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    text-align: center;
    width: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 3vh;
    position: static;
    top: 0;
    left: 0;
}

.material-icons{
    color: green;
}

.BackButton {
    height: 50px;
    width: 50px;
    border: 2px solid green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Changez à 'absolute' */
    top: 6vh; /* Ajustez la position selon vos besoins */
    left: 10px; /* Ajustez la position selon vos besoins */
}

/* Artist's frame */
.frame {
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 20px solid black;
    float: right;
    border-radius: 25px;
    margin: 100px;
    background: black;
    transition: box-shadow 0.3s ease;
}

.frame:hover {
    box-shadow: 0 5px 20px rgb(34, 139, 34);
}

.frame img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.frame:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.box{
    background-color: black;
    color: white;
    width: 252px;
    height: 60px;
    margin: auto;
    float: right;
    text-align: center;
    line-height: 60px;
}

.groupImage{
    float: right;
    border: 2px solid black;
    border-radius: 25px;
}

.buttons {
    background-color: black;
}

.btn {
    background-color: white;
    border: none;
    color: black;
    font-size: 4vh;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
}

.btn:hover {
    background-color: green;
    box-shadow: 0 5px 20px rgb(34, 139, 34);
}

/* Detail of artist's group */
.card {
    border: 8px solid black;
    border-radius: 8px;
    padding: 10px;
    margin-left: 15vh;
    background-color: #f0eded;
    width: 70vh;
    height: auto;
    position: relative;
    z-index: 1;
}

.card::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 4px solid green;
    border-radius: 6px;
    z-index: -1;
}

.groupName{
    text-align: center;
    font-size: 5vh;
}

.groupCreationDate{
    font-size: 3vh;
}

.group1stAlbum{
    font-size: 3vh;
}

summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 3vh;
}

ul {
    padding: 0;
    margin: 0;
    max-height: 100%;
    overflow-y: auto;
}

li {
    margin: 5px 0;
}

.droppable:hover + ul {
    display: inline-block;
}

/* Location of the artist's concerts on the map */
.map{
    border-radius: 8px;
    left: 100px;
    position: fixed;
    margin-top: 45vh;
    height: 38vh;
}

/* End of page */
.TextEndPage {
    background-color: black;
    color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Page background color */
.background{
    background: #bac4b8;
}