body {
    padding-left: 4vh; /* Espace entre la bordure et le contenu */
}
.no-padding{
    padding-left: 0; /* Force l'annulation du padding */
}

header {
    background-color: black;
    color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    text-align: center;
    width: 100%;
    position: relative;
    border-radius: 25px;
}

p{
    margin-top: 40px;
}

.container {
    display: flex; /* Utilise Flexbox */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne */
    justify-content: center; /* Centre les cases horizontalement */
    margin-right: 30px; /* Espace entre les éléments */
    text-align: center; /* Centrer le texte sous l'image */
}

.image-frame {
    margin: 10px;
    border-radius: 25px;
}

.frame{
    border: 10px solid black; /* Cadre rouge pour le premier élément */
}

.box{
    background-color: black;
    color: white;
    width: 252px;
    height: 60px;
    margin: auto;
}

.TextEndPage {
    background-color: black;
    color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap; /* Empêche le saut de ligne */
    position: fixed; /* Fixe l'élément à la fenêtre */
    bottom: 0; /* Place l'élément en bas de la fenêtre */
    left: 0; /* Aligne l'élément à gauche */
    right: 0; /* Aligne l'élément à droite */
    z-index: 1000; /* Assure que l'élément est au-dessus des autres éléments */
}

body {
    margin-bottom: 60px;
}

/* Filters container */
.filters-container {
    background: #ffffff;
    border-radius: 10px;
    border: 3px solid #000000;
    box-shadow: 0 5px 20px rgb(30, 215, 96);
    color:#121212;
    padding : 0.5em;
}
/* All the form will be displayed in row on all the width of the container */
.filters-container form {
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width : 100%;
}
/* The content of the filter will be in column */
.filter {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

/* CHECKBOXES RELATIVE CSS */
/* Checkbox container */
.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.1rem;
    height: 1rem;
}
/*---------------------------*/
/* Checkbox numbers */
.checkbox-container span {
    position: relative;
    bottom: 3.5rem;
    left: 0.35rem;
    margin : 0;
    padding : 0;
}
/*---------------------------*/
/* Checkbox styling */
.checkbox-container input {
    position: relative;
    cursor: pointer;
}
/*---------------------------*/
/* Checkbox checkmark (the visible box)  */
.checkmark {
    width : 1rem;
    height: 1rem;
    position: relative;
    bottom: 1.2rem;
    content :" ";
    border: 2px solid #323232;
    border-radius: 5px;
    box-shadow: 4px 4px #323232;
    background-color: #ccc;
    transition: all 0.5s;
    cursor: pointer;
}
/* Change the background color when checked */
.checkbox-container input:checked ~ .checkmark {
    background-color: #2d8cf0;
}
/* Make appear a checkmark after it's clicked with a smooth transition */
.checkmark::after {
    content: " ";
    width: 0.3rem;
    height: 0.5rem;
    position: absolute;
    left: 0.3rem;
    display: none;
    border: solid #fff;
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
/*---------------------------*/


/* Checkbox label */
.checkBox-label-container {
    padding: 0.3rem;
    margin: 0.8rem auto auto;
    border: 1px solid black;
    border-radius: 25px;
    background: white;
}

.checkBox-label {
    font-size: 1rem;
    background: white;
}
/*---------------------------*/
/* CHECKBOXES RELATIVE CSS END */


/* DUAL RANGE RELATIVE CSS */
/* dualRange containers */
.dualRange-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 2rem;
}
/*---------------------------*/

/* Selected values */
.dualRange-values-container {
    display: flex;
    position: relative;
    bottom: 2rem;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5rem;
}
/*---------------------------*/

/* Dual Range name container*/
.dualRange-label-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0.3rem;
    margin-top: 0.3rem;
    border: 1px solid black;
    border-radius: 25px;
    background: white;
}

.dualRange-label {
    font-size: 1rem;
    background: white;
}
/*---------------------------*/

/* Customizing the range */
/* Hide default appearance */
/* Make the 2 ranges being superposed */
.dualRange-container input[type="range"] {
    position: absolute;
    width: 100%;
    pointer-events: none;
    appearance: none;
    background: none;
}
.dualRange-container input[type="range"]::-webkit-slider-thumb {
    appearance: none;
}
.dualRange-container input[type="range"]::-moz-range-thumb {
    appearance: none;
}
.dualRange-container input[type="range"]:focus {
    outline: none;
}
.dualRange-container input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
}
.dualRange-container input[type="range"]::-moz-range-thumb {
    pointer-events: all;
}
/*---------------------------*/

/* Styling the cursor (thumb) */
.dualRange-container input[type="range"]::-webkit-slider-thumb{
    width: 1rem;
    height: 1rem;
    border: black 2px solid;
    border-radius: 50%;
    background: #1ed760;
    cursor: pointer;
    pointer-events: all;
}

.dualRange-container input[type="range"]::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    border: black 2px solid;
    border-radius: 50%;
    background: #1ed760;
    cursor: pointer;
    pointer-events: all;
}
/*---------------------------*/


/* Styling the track */
/* Chrome, set the background, up the track and the thumb */
.dualRange-container input[type="range"]:first-child::-webkit-slider-runnable-track {
    background: #9d9d9d;
}

.dualRange-container input[type="range"]::-webkit-slider-runnable-track {
    height: 0.5rem;
}
.dualRange-container input[type="range"]::-webkit-slider-thumb {
    margin-top: -0.25rem ;
}

/* Firefox, set the background and the height, and put the range correctly on the markers */
.dualRange-container input[type="range"]:first-child::-moz-range-track {
    height: 0.5rem;
    background: #9d9d9d;
}
@-moz-document url-prefix() {
    .dualRange-container input[type="range"] {
        margin-top: -0.2rem;
    }
}
/*---------------------------*/



/* Min/Max Labels */
.dualRange-label-min, .dualRange-label-max {
    position: absolute;
    top: 1rem;
    font-size: 0.9rem;
}

.dualRange-label-min {
    left: 0;
}

.dualRange-label-max {
    right: 0;
}
/*---------------------------*/


/* Range markers */
.range-markers {
    display: flex;
    justify-content: space-between;
    margin-top: -1rem;
}

.range-markers::before,
.range-markers::after,
.range-markers-middle {
    content: "";
    position: absolute;
    height: 0.5rem;
    top:0.1rem;
    width: 2px;
    background-color: black;
}

.range-markers::before {
    left: 0;
}

.range-markers::after {
    right: 0;
}

.range-markers-middle {
    left: 50%;
}
/*---------------------------*/
/* DUAL RANGE RELATIVE CSS END */

/* DROPDOWN RELATIVE CSS */
.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.dropdown-container select {
    width: 100%;
}

.dropdown-label-container{
    padding: 0.3rem;
    margin: 0.5rem auto auto;
    border: 1px solid black;
    border-radius: 25px;
    background: white;
}

.dropdown-label {
    font-size: 1rem;
}
/* DROPDOWN RELATIVE CSS END */

/* FOOTER RELATIVE CSS */

footer {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1ed760;
    color: white;
    height: 5rem;
    width: 100%;
    bottom: 0;
}
footer #copyright , footer #credits {
    margin : auto 1rem;
}

footer input[type="text"] {
    border: black 2px solid;
    border-radius: 15px;
}
/* FOOTER RELATIVE CSS END */